<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pizza"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GlowneMenu"
            android:label="@string/title_activity_glowne_menu" >
        </activity>
        <activity
            android:name=".Rejestracja"
            android:label="@string/title_activity_rejestracja" >
        </activity>
        <activity
            android:name=".MojAdres"
            android:label="@string/Moj_adres" >
        </activity>
         <activity
            android:name=".NoweZamowienie"
            android:label="@string/Now_zam" >
        </activity>
        <activity
            android:name=".TwojeZamowienie"
            android:label="@string/Twojezam" >
        </activity>
        <activity
            android:name=".ZamHistoria"
            android:label="@string/Zam_hist" >
        </activity>
    </application>

</manifest>
